# /
/release
/gen
/src/main/gen
/bin
/build
/local.properties
/local_history.patch
/gradle.properties
/.gradle
/projectFilesBackup/.idea
/fastlane/*
/.idea/*
!/.idea/runConfigurations
signing.properties